<div class="jumbotron center-container">
  <h1>Welcome to Song Wall</h1>

  <% if current_user %>
    <p><%= current_user.email %></p>
  <% end %>

  <p><a class="btn btn-primary btn-lg" href="/songs" role="button">Go to the Song Wall</a></p>

  <%if current_user %>
    <p><a class="btn btn-primary btn-lg" href="/sessions/logout" role="button">Logout</a></p>
  <% else %>
    <p><a class="btn btn-primary btn-lg" href="/users/new" role="button">Create an Account</a></p>
    <p><a class="btn btn-primary btn-lg" href="/sessions/new" role="button">Login</a></p>
  <% end %>
</div>
