<div class="jumbotron center-container">
  <h1>Welcome to SongWall</h1>

  <% if current_user %>
    <p><%= current_user.email %></p>
  <% end %>

  <p><a class="btn btn-primary btn-lg" href="/songs" role="button">Go to the Song Wall</a></p>

</div>
